* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-image: url("myself_site/wakamiya.jpg");
  overflow-x : hidden;
overflow-y : auto;
}

.nav-wrapper {
  position: absolute;
  z-index:2;
  background-color: #F0F0FF;
  height: 100vh;
  width: 18%;
  position:fixed
}
.nav {
  margin-top: 43px;
  margin-left: 18px;
}
.nav-content {
  display: flex;
  margin-bottom: 31px;
  align-items: center;
}
.nav-icon {
  height: 8px;
  width: 8px;
  margin-right: 9px;
  border-radius: 50%;
}


.contents-wrapper {
  height: 100%;
  width: 82%;
  position: relative;
  left: 18%
}

.contents-wrapper2{
  border: solid 2px rgb(0, 0, 0);
  height: 100%;
  width: 280%;
  position: relative;
  top:100px;
  left: 18%
}
.heading {
  margin-top: 35px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 32px;
}
.contents-wrapper-inner {
  display: flex;
  width: 880px;
  margin: 0 auto;
}

.content-left {
  width: 350px;
}
.face-photo {
  width: 100%;
  height: 444px;
  margin-bottom: 23px;
  position: relative;
  top: 30px;
}
.profile {
  margin-bottom: 40px;
  margin-left: 20px;
}
.profile-english {
  width: 300px;
  margin-bottom: 20px;
}
.mail {
  margin-bottom: 20px;
}


.content-right {
  width: 530px;
}
.news-heading {
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid black;
}
.news-list {
  margin-right: 10px;
  margin-left: 10px;
  border-bottom: 1px solid black;
}
.news-list-title {
  margin-top: 5px;
  margin-bottom: 4px;
  border-bottom: 1px solid black;
  
}
.news-list-description {
  margin-bottom: 30px;
  margin-left: 80px;
  
}
subu{
  height: 100%;
  width: 82%;
  position: relative;
  left: 150px;
  border: solid;
}

.sub_mein {
  border: solid 2px rgb(0, 0, 0);
  position: relative;
  height: 200%;
  width: %;
  left: 30%
}
.photo_box{
  position: relative;
}
